# Get datasets

## Download datasets

Import packages

In [3]:
import opendatasets as od
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

URLs of dataset from Kaggle

In [2]:
english_dataset_url = "https://www.kaggle.com/datasets/ferno2/training1600000processednoemoticoncsv"
apostrophe_url = "https://www.kaggle.com/datasets/ishivinal/contractions"
abbreviations_url =  "https://www.kaggle.com/datasets/gowrishankarp/chat-slang-abbreviations-acronyms"
emoji_url = "https://www.kaggle.com/datasets/thomasseleck/emoji-sentiment-data"

Download english dataset

In [3]:
od.download(english_dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading training1600000processednoemoticoncsv.zip to .\training1600000processednoemoticoncsv

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 80.9M/80.9M [00:14<00:00, 5.95MB/s]

Download apostrophe dataset

In [4]:
od.download(apostrophe_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading contractions.zip to .\contractions

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.05k/1.05k [00:00<00:00, 540kB/s]

Download abbreviations dataset

In [5]:
od.download(abbreviations_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading chat-slang-abbreviations-acronyms.zip to .\chat-slang-abbreviations-acronyms

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 156k/156k [00:00<00:00, 13.3MB/s]

Download emoji dataset

In [6]:
od.download(emoji_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading emoji-sentiment-data.zip to .\emoji-sentiment-data

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 33.4k/33.4k [00:00<00:00, 8.54MB/s]

In [7]:
import sys
sys.quit("Stop right here")

‚ö† Move all necessary csv files and move to datasets folder and delete the rest

## Clean datasets

File path of the datasets

In [10]:
english_dataset_path = "./datasets/training.1600000.processed.noemoticon.csv"
apostrophe_path = "./datasets/contractions.csv"
abbreviations_path =  "./datasets/slang.csv"
emoji_path = "./datasets/Emoji_Sentiment_Data_v1.0.csv"

Reading english dataset

In [11]:
df = pd.read_csv(english_dataset_path,encoding = 'latin')
df.columns = ['sentiment', 'id', 'date', 'query', 'user_id', 'text']
df.head()

,sentiment,id,date,query,user_id,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

Drop unnecessary columns

In [12]:
df.drop(['id', 'date', 'query', 'user_id'], axis=1, inplace=True)
df.head()

   sentiment                                               text
0          0  is upset that he can't update his Facebook by ...
1          0  @Kenichan I dived many times for the ball. Man...
2          0    my whole body feels itchy and like its on fire
3          0  @nationwideclass no, it's not behaving at all....
4          0                      @Kwesidei not the whole crew

Drop null values

In [13]:
df.dropna()

         sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1599994          4  Just woke up. Having no school is the best fee...
1599995          4  TheWDB.com - Very cool to hear old Walt interv...
1599996          4  Are you ready for your MoJo Makeover? Ask me f...
1599997          4  Happy 38th Birthday to my boo of alll time!!! ...
1599998          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

Drop duplicate data

In [14]:
df.drop_duplicates()

         sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1599994          4  Just woke up. Having no school is the best fee...
1599995          4  TheWDB.com - Very cool to hear old Walt interv...
1599996          4  Are you ready for your MoJo Makeover? Ask me f...
1599997          4  Happy 38th Birthday to my boo of alll time!!! ...
1599998          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1583690 rows x 2 columns]

Split dataset into positive & negative

In [15]:
pos_df = df[df['sentiment'] == 4]
neg_df = df[df['sentiment'] == 0]

Save the changes

In [16]:
pos_df.to_csv('./datasets/pos_english_text.csv', index = False, encoding='utf-8')
neg_df.to_csv('./datasets/neg_english_text.csv', index = False, encoding='utf-8')

Reading apostrophe dataset

In [17]:
df1 = pd.read_csv(apostrophe_path, encoding = 'utf-8')
df1.head()

  Contraction  Meaning
0      'aight  alright
1       ain't   is not
2       amn't   am not
3      aren't  are not
4       can't   cannot

Reading abbreviations and dropping index

In [18]:
df2 = pd.read_csv(abbreviations_path, encoding = 'utf-8')
df2.drop(columns=df2.columns[0], axis=1, inplace=True)
df2.head()

  acronym            expansion
0    2day                today
1    2m2h  too much too handle
2   2moro             tomorrow
3   2nite              tonight
4    4eae    for ever and ever

Save changes

In [19]:
df2.to_csv(abbreviations_path, index = False, encoding='utf-8')

Reading emoji dataset

In [20]:
df3 = pd.read_csv(emoji_path, encoding = 'utf-8')
df3.head()

,Emoji,Unicode codepoint,Occurrences,Position,Negative,Neutral,Positive,Unicode name,Unicode block
0,üòÇ,0x1f602,14622,0.805101,3614,4163,6845,FACE WITH TEARS OF JOY,Emoticons
1,‚ù§,0x2764,8050,0.746943,355,1334,6361,HEAVY BLACK HEART,Dingbats
2,‚ô•,0x2665,7144,0.753806,252,1942,4950,BLACK HEART SUIT,Miscellaneous Symbols
3,üòç,0x1f60d,6359,0.765292,329,1390,4640,SMILING FACE WITH HEART-SHAPED EYES,Emoticons
4,üò≠,0x1f62d,5526,0.803352,2412,1218,1896,LOUDLY CRYING FACE,Emoticons

Drop unnecessary columns

In [21]:
df3.drop(['Unicode codepoint', 'Occurrences', 'Position', 'Negative','Neutral','Positive','Unicode block'], axis=1, inplace=True)
df3.head()

  Emoji                         Unicode name
0     üòÇ               FACE WITH TEARS OF JOY
1     ‚ù§                    HEAVY BLACK HEART
2     ‚ô•                     BLACK HEART SUIT
3     üòç  SMILING FACE WITH HEART-SHAPED EYES
4     üò≠                   LOUDLY CRYING FACE

Save changes

In [22]:
df3.to_csv(emoji_path, index = False, encoding='utf-8')

In [23]:
import sys
sys.quit("Stop right here")

‚ö† Rename csv file datasets & delete training.1600000.processed.noemoticon.csv

## Wab scrapping

Import packages

In [28]:
import requests
from bs4 import BeautifulSoup

Scraping data from wikipedia

In [29]:
url = 'https://en.wikipedia.org/wiki/List_of_emoticons'
url_text = requests.get(url).text
soup = BeautifulSoup(url_text,'html.parser')

List of table captions

In [30]:
table_soup = soup.find_all('table')
filtered_table_soup = [table for table in table_soup if table.caption is not None]
table_names = [table.caption.text.strip() for table in filtered_table_soup]
table_names[:-3]

['Sideways Latin-only emoticons',
 'Sideways Latin-only single-line art and portraits',
 'Upright Latin-only emoticons and single-line art and portraits',
 'Upright Unicode-incorporating emoticons and single-line art',
 'Kaomoji faces',
 'Other Eastern emoticons']

Collecting data row wise from the table

In [31]:
rows = []
for table_name in table_names[:-3]:
    required_table = next((table for table in filtered_table_soup if table.caption.text.strip() in table_name), None)
    data_rows = required_table.find_all('tr')

    for row in data_rows:
        value = row.find_all('td')
        beautified_values = [ele.text.strip() for ele in value]
        if not beautified_values: continue
        emoji_data = beautified_values.pop()
        beautified_values.insert(0,emoji_data)
        rows.append(beautified_values)

Saving datasets in emoticons.csv

In [ ]:
import csv

with open('datasets/emoticons_raw.csv', 'w', newline="",encoding='utf8') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

Fetch data

In [7]:
df4 = pd.read_csv('./datasets/emoticons_raw.csv',encoding = 'utf8')
df4

,"Smiley, happy face[3][4][5][6]",:‚Äë):),:-]:],:->:>,8-)8),:-}:},:o),:c),:^),=],=),‚ò∫Ô∏èüôÇüòäüòÄüòÅ
0,"Laughing,[3] big grin,[4][5] grinning with gla...",:‚ÄëD:D,8‚ÄëD8D,=D,=3,B^D,c:,C:,üòÉüòÑüòç,NaN,NaN,NaN
1,Laughing[8][9][10],x‚ÄëDxD,X‚ÄëDXD,üòÜüòÇ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Very happy or double chin[7],:-)),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Frown,[3][4][5] sad,[11] pouting",:‚Äë(:(,:‚Äëc:c,:‚Äë< :<,:‚Äë[:[,:-||,:{,:@,:(,;(,‚òπÔ∏èüôÅüòûüòüüò£üòñ,NaN
4,Crying[11],:'‚Äë(:'(,:=(,üò¢üò≠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
129,Tadpole[62],(¬∞¬∞)ÔΩû,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Bomb[62],‚óèÔΩû*,üí£üß®,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,"Despair. The ""O""s represent head on the ground...",Ôø£|‚óãSTOOTZOTLorzÂõßrz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Table flip[76],(‚ïØ¬∞‚ñ°¬∞Ôºâ‚ïØÔ∏µ ‚îª‚îÅ‚îª‚î¨‚îÄ‚îÄ‚î¨ ¬Ø\_(„ÉÑ) ‚îª‚îÅ‚îªÔ∏µ„ÉΩ(`–î¬¥)ÔæâÔ∏µ ‚îª‚îÅ‚îª‚î¨‚îÄ‚î¨„Éé( ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,‚Äî[62],:3„Éü,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning emoticons.csv

Manually cleaning dataset by 
- Removing unicode emoji
- Removing [ ] and single name
- Proper , separation
- Remove duplicates

Saving this dataset into emoticons_pre_clean.csv

Fetch pre clean dataset

In [55]:
df4 = pd.read_csv('./datasets/emoticons.csv',encoding = 'utf8')
df4

,Laugh,:‚ÄëD,:D,8‚ÄëD,8D,=D,=3,B^D,c:,C:,...,(^¬∑^),(^.^).1,(^_^.),(^_^),(^^),(^J^),(*^.^*),^_^,(#^.^#),Ôºà^‚Äî^Ôºâ
0,Laugh,:‚ÄëD,:D,8‚ÄëD,8D,=D,=3,B^D,c:,C:,...,(^¬∑^),(^.^),(^_^.),(^_^),(^^),(^J^),(*^.^*),^_^,(#^.^#),Ôºà^‚Äî^Ôºâ
1,Happy,:‚Äë),:),:-],:],:->,:>,8-),8),:-},...,(^O^),(^o^),(^‚óã^),)^o^(,(*^‚ñΩ^*),(‚úø‚ó†‚Äø‚ó†),NaN,NaN,NaN,NaN
2,Sad,:‚Äë(,:(,:‚Äëc,:c,:‚Äë<,:<,:‚Äë[,:[,:-||,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Crying,:'‚Äë(,:'(,:=(,( ‡ºé‡∫∂ €ù ‡ºé‡∫∂ ),('_'),(/_;),(T_T),(;_;),(;_;,...,QQ,Q_Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tears of happiness,:'‚Äë),:'),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Octopus,<„Ç≥:ÂΩ°,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Snake,~>¬∞)ÔΩûÔΩûÔΩû,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Tadpole,(¬∞¬∞)ÔΩû,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Bomb,‚óèÔΩû*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Table flip,(‚ïØ¬∞‚ñ°¬∞Ôºâ‚ïØÔ∏µ ‚îª‚îÅ‚îª‚î¨‚îÄ‚îÄ‚î¨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Header list

In [56]:
cols = ['emoji_name']
cols.extend(f'emoji_{i}' for i in range(31))
print(cols[1:])

['emoji_0', 'emoji_1', 'emoji_2', 'emoji_3', 'emoji_4', 'emoji_5', 'emoji_6', 'emoji_7', 'emoji_8', 'emoji_9', 'emoji_10', 'emoji_11', 'emoji_12', 'emoji_13', 'emoji_14', 'emoji_15', 'emoji_16', 'emoji_17', 'emoji_18', 'emoji_19', 'emoji_20', 'emoji_21', 'emoji_22', 'emoji_23', 'emoji_24', 'emoji_25', 'emoji_26', 'emoji_27', 'emoji_28', 'emoji_29', 'emoji_30']

Added header to dataframe

In [57]:
df4.columns = cols
df4

,emoji_name,emoji_0,emoji_1,emoji_2,emoji_3,emoji_4,emoji_5,emoji_6,emoji_7,emoji_8,...,emoji_21,emoji_22,emoji_23,emoji_24,emoji_25,emoji_26,emoji_27,emoji_28,emoji_29,emoji_30
0,Laugh,:‚ÄëD,:D,8‚ÄëD,8D,=D,=3,B^D,c:,C:,...,(^¬∑^),(^.^),(^_^.),(^_^),(^^),(^J^),(*^.^*),^_^,(#^.^#),Ôºà^‚Äî^Ôºâ
1,Happy,:‚Äë),:),:-],:],:->,:>,8-),8),:-},...,(^O^),(^o^),(^‚óã^),)^o^(,(*^‚ñΩ^*),(‚úø‚ó†‚Äø‚ó†),NaN,NaN,NaN,NaN
2,Sad,:‚Äë(,:(,:‚Äëc,:c,:‚Äë<,:<,:‚Äë[,:[,:-||,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Crying,:'‚Äë(,:'(,:=(,( ‡ºé‡∫∂ €ù ‡ºé‡∫∂ ),('_'),(/_;),(T_T),(;_;),(;_;,...,QQ,Q_Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tears of happiness,:'‚Äë),:'),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Octopus,<„Ç≥:ÂΩ°,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Snake,~>¬∞)ÔΩûÔΩûÔΩû,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Tadpole,(¬∞¬∞)ÔΩû,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Bomb,‚óèÔΩû*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Table flip,(‚ïØ¬∞‚ñ°¬∞Ôºâ‚ïØÔ∏µ ‚îª‚îÅ‚îª‚î¨‚îÄ‚îÄ‚î¨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Normalization of dataset and saving into emoticons.csv

In [60]:
for col in cols[1:]:
    df5 = df4[['emoji_name',col]]
    df5.to_csv('./datasets/emoticons.csv', index = False, encoding='utf-8', mode='a', header=None)

Adding header

In [15]:
df5 = pd.read_csv('./datasets/emoticons.csv',encoding = 'utf8')
df5.columns = ['emoji_name','emoji']
df5

    emoji_name               emoji
0          :‚Äë)               Happy
1          :‚Äë(                 Sad
2         :'‚Äë(              Crying
3         :'‚Äë)  Tears of happiness
4          >:(               Angry
..         ...                 ...
413     (‚úø‚ó†‚Äø‚ó†)               Happy
414    (*^.^*)               Laugh
415        ^_^               Laugh
416    (#^.^#)               Laugh
417      Ôºà^‚Äî^Ôºâ               Laugh

[418 rows x 2 columns]

Drop values containing NaN

In [16]:
df5.dropna(inplace=True)
df5

    emoji_name               emoji
0          :‚Äë)               Happy
1          :‚Äë(                 Sad
2         :'‚Äë(              Crying
3         :'‚Äë)  Tears of happiness
4          >:(               Angry
..         ...                 ...
413     (‚úø‚ó†‚Äø‚ó†)               Happy
414    (*^.^*)               Laugh
415        ^_^               Laugh
416    (#^.^#)               Laugh
417      Ôºà^‚Äî^Ôºâ               Laugh

[418 rows x 2 columns]

Drop duplicate values

In [17]:
df5.drop_duplicates(inplace=True)
df5

    emoji_name               emoji
0          :‚Äë)               Happy
1          :‚Äë(                 Sad
2         :'‚Äë(              Crying
3         :'‚Äë)  Tears of happiness
4          >:(               Angry
..         ...                 ...
413     (‚úø‚ó†‚Äø‚ó†)               Happy
414    (*^.^*)               Laugh
415        ^_^               Laugh
416    (#^.^#)               Laugh
417      Ôºà^‚Äî^Ôºâ               Laugh

[418 rows x 2 columns]

Sort ascending by emoji_name

In [29]:
df5.sort_values(by="emoji_name", inplace = True, ascending=True)

Swapping column position

In [19]:
df5 = df5[['emoji','emoji_name']]

Saving dataset in emoticons.csv

In [30]:
df5.to_csv('./datasets/emoticons.csv', index = False, encoding='utf-8', mode='w')