# Get datasets

## Download datasets

Import packages

In [6]:
import opendatasets as od
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

URLs of dataset from Kaggle

In [7]:
english_dataset_url = "https://www.kaggle.com/datasets/ferno2/training1600000processednoemoticoncsv"
apostrophe_url = "https://www.kaggle.com/datasets/ishivinal/contractions"
abbreviations_url =  "https://www.kaggle.com/datasets/gowrishankarp/chat-slang-abbreviations-acronyms"
emoji_url = "https://www.kaggle.com/datasets/thomasseleck/emoji-sentiment-data"

Download english dataset

In [8]:
od.download(english_dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading training1600000processednoemoticoncsv.zip to .\training1600000processednoemoticoncsv

100%|██████████| 80.9M/80.9M [00:19<00:00, 4.46MB/s]

Download apostrophe dataset

In [9]:
od.download(apostrophe_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading contractions.zip to .\contractions

100%|██████████| 1.05k/1.05k [00:00<00:00, 60.0kB/s]

Download abbreviations dataset

In [10]:
od.download(abbreviations_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading chat-slang-abbreviations-acronyms.zip to .\chat-slang-abbreviations-acronyms

100%|██████████| 156k/156k [00:00<00:00, 8.85MB/s]

Download emoji dataset

In [28]:
od.download(emoji_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading emoji-sentiment-data.zip to .\emoji-sentiment-data

100%|██████████| 33.4k/33.4k [00:00<00:00, 957kB/s]

In [27]:
quit("Stop right here")

⚠ Move all necessary csv files and move to datasets folder and delete the rest

## Clean datasets

File path of the datasets

In [12]:
english_dataset_path = "./datasets/training.1600000.processed.noemoticon.csv"
apostrophe_path = "./datasets/contractions.csv"
abbreviations_path =  "./datasets/slang.csv"
emoji_path = "./datasets/Emoji_Sentiment_Data_v1.0.csv"

Reading english dataset

In [14]:
df = pd.read_csv(english_dataset_path,encoding = 'latin')
df.columns = ['sentiment', 'id', 'date', 'query', 'user_id', 'text']
df.head()

,sentiment,id,date,query,user_id,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

Drop unnecessary columns

In [15]:
df.drop(['id', 'date', 'query', 'user_id'], axis=1, inplace=True)
df.head()

   sentiment                                               text
0          0  is upset that he can't update his Facebook by ...
1          0  @Kenichan I dived many times for the ball. Man...
2          0    my whole body feels itchy and like its on fire
3          0  @nationwideclass no, it's not behaving at all....
4          0                      @Kwesidei not the whole crew

Drop null values

In [16]:
df.dropna()

         sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1599994          4  Just woke up. Having no school is the best fee...
1599995          4  TheWDB.com - Very cool to hear old Walt interv...
1599996          4  Are you ready for your MoJo Makeover? Ask me f...
1599997          4  Happy 38th Birthday to my boo of alll time!!! ...
1599998          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

Drop duplicate data

In [17]:
df.drop_duplicates()

         sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1599994          4  Just woke up. Having no school is the best fee...
1599995          4  TheWDB.com - Very cool to hear old Walt interv...
1599996          4  Are you ready for your MoJo Makeover? Ask me f...
1599997          4  Happy 38th Birthday to my boo of alll time!!! ...
1599998          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1583690 rows x 2 columns]

Split dataset into positive & negative

In [18]:
pos_df = df[df['sentiment'] == 0]
neg_df = df[df['sentiment'] == 4]

Save the changes

In [19]:
pos_df.to_csv('./datasets/pos_english_text.csv', index = False, encoding='utf-8')
neg_df.to_csv('./datasets/neg_english_text.csv', index = False, encoding='utf-8')

Reading apostrophe dataset

In [20]:
df1 = pd.read_csv(apostrophe_path, encoding = 'utf-8')
df1.head()

  Contraction  Meaning
0      'aight  alright
1       ain't   is not
2       amn't   am not
3      aren't  are not
4       can't   cannot

Reading abbreviations and dropping index

In [21]:
df2 = pd.read_csv(abbreviations_path, encoding = 'utf-8')
df2.drop(columns=df2.columns[0], axis=1, inplace=True)
df2.head()

  acronym            expansion
0    2day                today
1    2m2h  too much too handle
2   2moro             tomorrow
3   2nite              tonight
4    4eae    for ever and ever

Save changes

In [22]:
df2.to_csv(abbreviations_path, index = False, encoding='utf-8')

Reading emoji dataset

In [23]:
df3 = pd.read_csv(emoji_path, encoding = 'utf-8')
df3.head()

,Emoji,Unicode codepoint,Occurrences,Position,Negative,Neutral,Positive,Unicode name,Unicode block
0,😂,0x1f602,14622,0.805101,3614,4163,6845,FACE WITH TEARS OF JOY,Emoticons
1,❤,0x2764,8050,0.746943,355,1334,6361,HEAVY BLACK HEART,Dingbats
2,♥,0x2665,7144,0.753806,252,1942,4950,BLACK HEART SUIT,Miscellaneous Symbols
3,😍,0x1f60d,6359,0.765292,329,1390,4640,SMILING FACE WITH HEART-SHAPED EYES,Emoticons
4,😭,0x1f62d,5526,0.803352,2412,1218,1896,LOUDLY CRYING FACE,Emoticons

Drop unnecessary columns

In [24]:
df3.drop(['Unicode codepoint', 'Occurrences', 'Position', 'Negative','Neutral','Positive','Unicode block'], axis=1, inplace=True)
df3.head()

  Emoji                         Unicode name
0     😂               FACE WITH TEARS OF JOY
1     ❤                    HEAVY BLACK HEART
2     ♥                     BLACK HEART SUIT
3     😍  SMILING FACE WITH HEART-SHAPED EYES
4     😭                   LOUDLY CRYING FACE

Save changes

In [25]:
df3.to_csv(emoji_path, index = False, encoding='utf-8')

In [ ]:
quit("Stop right here")

⚠ Rename csv file datasets & delete training.1600000.processed.noemoticon.csv